<div class="c-accord-group js-accord-group">
    {% for item in data.items %}
        {% include "./accord-" ~ item.type | default('content') ~ ".twig" with {
            data: item,
            settings: {
                jsClass: 'js-accord-group-item'
            }
        } %}
    {% endfor %}
</div>