{% extends './accord-base.twig' %}
hej
{% block head %}
<h2 class="t-head">{{ data.title | default("Tytuł") }}</h2>
{% endblock %}

{% block content %}
<div class="t-content">{{ data.content }}</div>
{% endblock %}