<div class="c-accord {{ settings.jsClass | default('js-accord')}}">
    <div class="c-accord__head js-accord-trigger">
        {% block head %}{% endblock %}
    </div>

    <div class="c-accord__content js-accord-content">
        {% block content %}{% endblock %}
    </div>
</div>
