<div class="c-carousel {{ settings.jsClass | default('js-carousel') }}">
    <div class="c-carousel__track js-carousel-track">
        <div class="c-carousel__item">
            <img src="content/codee_fb_aw.jpg" alt="codee">
        </div>

        <div class="c-carousel__item">
            <img src="content/codee_fb_aw.jpg" alt="codee">
        </div>

        <div class="c-carousel__item">
            <img src="content/codee_fb_aw.jpg" alt="codee">
        </div>

        <div class="c-carousel__item">
            <img src="content/codee_fb_aw.jpg" alt="codee">
        </div>

        <div class="c-carousel__item">
            <img src="content/codee_fb_aw.jpg" alt="codee">
        </div>
    </div>

    {% if settings.hasControls | default(false) %}
        <div class="c-carousel__controls js-carousel-controls">
            <div class="c-carousel__control c-carousel__control--prev" data-controls="prev">
                <button class="c-btn c-btn--default">
                    <span class="c-btn__wrap">
                        <span class="c-btn__label">Prev</span>
                    </span>
                </button>
            </div>

            <div class="c-carousel__control c-carousel__control--next" data-controls="next">
                <button class="c-btn c-btn--default">
                    <span class="c-btn__wrap">
                        <span class="c-btn__label">Next</span>
                    </span>
                </button>
            </div>
        </div>
    {% endif %}
</div>