{% if data.content | default(false) %}
    <div class="c-cookie-notice js-cookie-notice u-hidden">
        <div class="c-cookie-notice__content">
            <div class="t-content">
                {{ data.content }}
            </div>
        </div>

        <div class="c-cookie-notice__close js-cookie-notice-close">
            &times;
        </div>
    </div>
{% endif %}