<label
    class="c-btn c-btn--file js-file"
    {{ settings.sizeLimit ? 'data-size-limit=' ~ settings.sizeLimit : '' }}
    {{ settings.countLimit ? 'data-count-limit=' ~ settings.countLimit : '' }}>
    <input
        {{ settings.multiple or settings.countLimit ? 'multiple' : '' }}
        type="file"
        class="js-file-input">

    <span class="c-btn__wrap">
        <span class="c-btn__label js-file-label">
            {{ data.label | default('Prześlij plik') }}
        </span>

        <span class="c-btn__ico">
            ico
        </span>
    </span>
</label>