<div class="c-modal js-modal {{ settings.theme }}">
    <div class="c-modal__container js-modal-container">
        <div class="c-modal__content">
            Jeste modal
        </div>

        <div class="c-modal__close js-modal-close">
            &times;
        </div>
    </div>
</div>