<footer class="l-footer">
    <div class="l-inner l-footer__inner">
        <div class="l-footer__logo">
            <a href="/" class="c-logo c-logo--foot">Logo</a>
        </div>

        <div class="l-footer__nav">
            {% include "../components/menu.twig" with {
                data: {
                    items: mainMenu
                },
                settings: {
                    theme: 'footer'
                }
            } %}
        </div>
    </div>
</footer>
