<section class="l-sec l-sec--default">
    <div class="l-inner">
        <header class="t-header">
            <h1 class="t-head">
                Przykladowy tytul
            </h1>
        </header>

        <div class="l-sec__row">
            <div class="t-content t-content--alt">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis deleniti, blanditiis atque, iure, placeat quis ut qui doloribus quasi iusto sit neque assumenda in. Cumque, vero asperiores recusandae corporis dignissimos molestias cum officia qui dolor dolorem quae placeat accusantium inventore quaerat nulla dolorum sapiente? Quis accusantium enim fugit officiis similique odio provident, optio et! Amet natus vitae accusantium minus perferendis voluptatem rem ea ex aut nisi officiis, mollitia quis quidem voluptates. Aspernatur quidem consequatur, provident incidunt id ex autem doloremque, veritatis mollitia facere, minima hic quaerat? Reprehenderit, fuga quisquam dolores officia, aliquid praesentium molestias totam est commodi iste labore ab!</p>
            </div>
        </div>
    </div>
</section>