<header class="l-header">
    <div class="l-inner l-header__inner">
        <div class="l-header__logo">
            <a href="/" class="c-logo c-logo--main">Logo</a>
        </div>

        <div class="l-header__hamburger">
            <div class="c-btn c-btn--hamburger js-menu-toggle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <nav class="l-header__nav js-menu">
            {% include "../components/menu.twig" with {
                data: {
                    items: mainMenu
                },
                settings: {
                    theme: 'main'
                }
            } %}
        </nav>
    </div>
</header>
