{% load static %}
<!doctype html>
<html lang="pl" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} Base title {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        {% include "head/head-links.twig" %}
        {% include "head/favicon.twig" %}
    </head>

    <body class="js-body">

        <div class="l-page">
            {% block header %}
                {% include 'partials/layouts/sec-header.twig' %}
            {% endblock %}

            <main class="l-main">
                {% block main %}

                {% endblock %}
            </main>

            {% block footer %}
                {% include 'partials/layouts/sec-footer.twig' %}
            {% endblock %}
        </div>

        {% include "./partials/components/cookie-notice.twig" with {
            data: cookieNotice
        } %}

        {% load static %}

        <script>
            DATA_STATIC_URL = "{{ static }}"
        </script>

        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
