/* Radio / checkbox - base
   ========================================================================== */
.f-choose {
    cursor: pointer;

    input {
        position: absolute;
        z-index: -1;

        opacity: 0;
    }
}

.f-choose__indicator {
    position: relative;

    display: block;
}

.f-choose__indicator:after {
    content: '';

    position: absolute;

    display: none;
}

input:checked + .f-choose__indicator:after {
    display: block;
}

/* Checkbox
    ========================================================================== */
.f-choose--checkbox {
    .f-choose__indicator {
        width: 2.5rem;
        height: 2.5rem;

        border: 1px solid $color-gray;
        border-radius: 0.3rem;
        background: $color-white;
    }

    .f-choose__indicator:after {
        top: 0.2rem;
        left: 0.8rem;
        transform: rotate(45deg);

        width: 0.8rem;
        height: 1.5rem;

        border: solid $color-gray;
        border-width: 0 0.2rem 0.2rem 0;
    }

    input:checked + .f-choose__indicator {
        border-color: $color-gray;
    }
}
