.f-control-wrapper,
.f-control {
    position: relative;
}

/* Default
   ========================================================================== */
.f-control--default {
    padding: 1.5rem;

    font-size: 1.6rem;

    border: 1px solid $color-gray;
    border-radius: 0.4rem;

    color: $color-gray;
    background-color: $color-white;

    &::placeholder {
        color: $color-gray;
    }

    &:focus-within,
    &:focus {
        border-color: $color-black;
    }
}

/* Text
   ========================================================================== */
.f-control--text {
    height: 4.5rem;
}
