.f-error {
  display: block;

  margin-top: .2rem;
  padding: 0 .5rem;

  color: $color-red;

  font-size: 1.2rem;
  font-weight: 700;
}

.f-field--has-error {
  .f-control,
  .f-choose__indicator {
    border-color: $color-red;
  }
}
