
/* Colors
========================================================================== */
$color-white:       #fff;
$color-black:       #000000;
$color-gray:        #272727;
$color-red:         #dc4e58;

$scotch-colors: (
    'black': (
        $color-black
    ),
    'white': (
        $color-white
    ),
    'gray': (
        $color-gray
    )
);

/* Fonts
========================================================================== */
$font-raleway:        'Raleway';

$font-normal:          $font-raleway, Arial, sans-serif;

/* Animations
========================================================================== */
$transition-speed:      200ms;

/* Sizes
========================================================================== */
$base-gap:              .5rem;
$gutter:                20px;

$size-inner:            1260px + ($gutter * 2);

$header-height:         7rem;

/* Breakpoints
========================================================================== */
$breakpoint-laptop: 1620px;
$breakpoint-laptop-small: 1280px;
$breakpoint-tablet: 1200px;
$breakpoint-tablet-middle: 980px;
$breakpoint-mobile: 670px;
$breakpoint-mobile-small: 480px;
$breakpoint-mobile-thin: 370px;
$max-breakpoint: 1920;

$breakpoints: (
    l: $breakpoint-laptop,
    l-s: $breakpoint-laptop-small,
    t: $breakpoint-tablet,
    t-m: $breakpoint-tablet-middle,
    m: $breakpoint-mobile,
    m-s: $breakpoint-mobile-small,
    m-t: $breakpoint-mobile-thin
);

/* body {
    @include media("<=t") {
        background: blue;
    }
} */
