
/* Page
   ========================================================================== */
.l-page {
    overflow: hidden;

    width: 100%;
}

/* Inner
   ========================================================================== */
.l-inner {
    position: relative;

    width: 100%;
    max-width: $size-inner;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
}
