.l-header {
  height: $header-height;
}

.l-header__inner {
  align-items: center;

  display: flex;
}

.l-header__logo {
  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.l-header__hamburger {
  display: none;

  margin-left: auto;
  margin-right: 1.5rem;

  @include media('<=t-m') {
    display: block;
  }
}

.l-header__nav {
  margin-left: auto;
}
