.c-accord-group .c-accord:not(:last-child) {
  margin-bottom: 2rem;
}

.c-accord {}

.c-accord__head {
  cursor: pointer;

  margin-bottom: 1rem;
}

.c-accord__content {
  opacity: 0;
  pointer-events: none;

  max-height: 0;


  transition:
    max-height $transition-speed,
    opacity $transition-speed;
}

/* ACTIVE
========================================================================== */
.c-accord.is-active .c-accord__content {
  pointer-events: auto;
}
