.c-actions {
    &:not(:first-child) {
        margin-top: 2rem;
    }

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.c-actions-list {
    align-items: center;
    justify-content: flex-start;

    display: flex;
}

.c-actions-list__item:not(:last-child) {
    margin-right: 2rem;
}
