.c-btn {
    position: relative;
    vertical-align: middle;

    display: inline-block;

    border: 0;
    background: none;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;

        cursor: default;
    }
}

.c-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
}

.c-btn__wrap {
    @include flexCenter;

    height: 100%;
}

.c-btn__ico {
    font-size: 0;

    &:not(:first-child) {
        margin-left: 1rem;
    }

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

/* Primary
========================================================================== */
.c-btn--primary {}

/* Themes
========================================================================== */
.c-btn--th-1 {}

/* Hamburger
========================================================================== */
.c-btn--hamburger {
    transform: rotate(0deg);

    width: 6rem;
    height: 4.5rem;

    transition: transform .5s ease-in-out;
}

.c-btn--hamburger span {
    position: absolute;
    left: 0;
    transform: rotate(0deg);

    display: block;
    opacity: 1;

    height: .9rem;
    width: 100%;

    background-color: $color-gray;
    border-radius: .9rem;

    transition: .25s ease-in-out;
}

.c-btn--hamburger span:nth-child(1) {
    top: 0;
}

.c-btn--hamburger span:nth-child(2),
.c-btn--hamburger span:nth-child(3) {
    top: 1.8rem;
}

.c-btn--hamburger span:nth-child(4) {
    top: 3.6rem;
}

.c-btn--hamburger.is-active span:nth-child(1) {
    top: 1.8rem;
    left: 50%;

    width: 0%;
}

.c-btn--hamburger.is-active span:nth-child(2) {
    transform: rotate(45deg);
}

.c-btn--hamburger.is-active span:nth-child(3) {
    transform: rotate(-45deg);
}

.c-btn--hamburger.is-active span:nth-child(4) {
    top: 1.8rem;
    left: 50%;

    width: 0%;
}
