.c-carousel {
  position: relative;
}

.c-carousel__track {}

.c-carousel__item {}

.c-carousel__controls {}

.c-carousel__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.c-carousel__control--prev {
  left: -2rem;
}

.c-carousel__control--next {
  right: -2rem;
}

.c-carousel .tns-nav {
  @include flexCenter;

  margin: -0.5rem;
}

.c-carousel .tns-nav button {
  width: 1.6rem;
  height: 1.6rem;
  margin: .5rem;

  border: 0;
  outline: 0;

  &.tns-nav-active {
    background: $color-black;
  }
}
