.o-ico {
    position: relative;

    display: block;

    font-size: 0;

    svg,
    img {
        width: 100%;
        height: 100%;

        fill: inherit;
    }
}

/**
 * Sizes
 * xs
 * s
 * m
 * l
 * xl
 * xxl
 */
