.c-modal {
  @include flexCenter;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;

  background-color: rgba($color-black, .8);
}


.c-modal__container {
  max-width: 40rem;
  padding: 4rem;

  position: relative;

  background-color: $color-white;
}

.c-modal__content {}

.c-modal__close {
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}
