.o-image {
    position: relative;

    margin: 0;
}

.o-image {
    display: block;
}

.o-image--fit {
    object-fit: cover;
    object-position: 50% 0;

    width: 100%;
    height: 100%;
}

.o-image--fluid {
    width: 100%;
}

.o-video {
    position: relative;

    overflow: hidden;

    width: 100%;

    video {
        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    // Fallback for non object
    &.none-object-fit {
        video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            object-fit: cover;

            width: auto;
            height: auto;
        }
    }
}
