
.t-content {
    p, ol, ul {
       margin: 0;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    ol,
    ul {
        @include reset-list;

        li {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ol {
        counter-reset: my-awesome-counter;

        li {
            counter-increment: my-awesome-counter;

            &:before {
                content: counter(my-awesome-counter)'.';

                position: relative;
                top: -0.2rem;
                vertical-align: middle;

                display: inline-block;

                margin-right: .5rem;

                font-weight: 700;

                color: $color-black;
            }
        }
    }

    ul {
        li {
            &:before {
                content: '›';

                position: relative;
                top: -0.2rem;
                vertical-align: middle;

                display: inline-block;

                margin-right: 1rem;
            }
        }
    }

    address {
        font-style: normal;
    }
}

/* Sizes
========================================================================== */
.t-content--alt {
    font-size: 1.6rem;
}
