
/* Header
========================================================================== */
.t-header {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    .t-head:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

/* Head
   ========================================================================== */
.t-head {
    margin: 0;
}
